/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* color related */

  --clr-primary-pale-violet: hsl(276, 100%, 81%);
  --clr-primary-moderate-violet: hsl(276, 55%, 52%);
  --clr-primary-desaturated-dark-violet: hsl(271, 15%, 43%);
  --clr-primary-grayish-blue: hsl(206, 6%, 79%);
  --clr-primary-very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --clr-primary-dark-grayish-violet: hsl(270, 7%, 64%);

  --clr-secondary-white: hsl(0, 0%, 100%);
  --clr-secondary-light-grayish-violet: hsl(270, 20%, 96%);
  --clr-secondary-very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --clr-secondary-very-light-magenta: hsl(289, 100%, 72%);

  --clr-gradient-light-magenta: hsl(293, 100%, 63%);
  --clr-gradient-light-violet: hsl(264, 100%, 61%);

  /* fonts related */

  --ff-primary: "Rubik", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  height: 100%;

  overflow-x: hidden;
}

body {
  /* 16px */
  font-size: 1.6em;
  font-family: var(--ff-primary);

  background: var(--clr-secondary-light-grayish-violet);

  overflow-x: hidden;
  width: 100%;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

p {
  line-height: 1.7;
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

body::after {
  content: "";
  display: block;
  width: 75%;

  background: linear-gradient(
    to top,
    var(--clr-gradient-light-violet),
    var(--clr-gradient-light-magenta)
  );
  position: absolute;

  left: -30%;
  top: -25%;

  height: 80%;

  border-bottom-right-radius: 90rem;
  border-bottom-left-radius: 26rem;
}

body::before {
  content: "";

  display: block;

  width: 75%;

  background-color: var(--clr-primary-pale-violet);

  position: absolute;

  right: -26%;
  bottom: -2%;

  height: 50%;

  border-top-right-radius: 26rem;
  border-top-left-radius: 90rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "chat-window-component"
    "app-info-component";
  gap: 8rem;
  justify-items: center;

  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* style 1st component - mobile */

.chat-window-component {
  width: 34rem;

  border: 14px solid var(--clr-secondary-white);
  border-radius: 4rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "chat-window-component__user-profile"
    "chat-window-component__users-chat-section"
    "chat-window-component__new-message-input";
  gap: 1.5rem;

  background: var(--clr-secondary-light-grayish-violet);

  z-index: 1;
}

.chat-window-component__user-profile {
  display: grid;
  grid-template-columns: 0.15fr 0.25fr 1.45fr 0.15fr;
  grid-template-areas:
    "chat-window-component__white-top chat-window-component__white-top chat-window-component__white-top chat-window-component__white-top"
    "chat-window-component__left-icon chat-window-component__user-profile-img chat-window-component__user-name chat-window-component__right-icon"
    "chat-window-component__left-icon chat-window-component__user-profile-img chat-window-component__user-status chat-window-component__right-icon";
  align-items: center;

  padding: 0 2rem 1.5rem 2rem;

  border-radius: 2.5rem 2.5rem 1rem 1rem;

  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
}

.chat-window-component__white-top {
  width: 80%;
  height: 2rem;

  background-color: var(--clr-secondary-white);
  justify-self: center;

  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;

  margin-bottom: 1.5rem;
}

.chat-window-component__left-icon {
  width: 1rem;
}

.chat-window-component__right-icon {
  width: 1.5rem;
  justify-self: end;
}

.chat-window-component__user-profile-img > img {
  border-radius: 50%;

  border: 1px solid var(--clr-secondary-light-grayish-violet);
}

.chat-window-component__user-name {
  font-size: 1.5rem;

  margin-left: 1.2rem;

  color: var(--clr-secondary-light-grayish-violet);
}

.chat-window-component__user-status {
  font-size: 1rem;

  margin-left: 1.2rem;

  color: var(--clr-primary-pale-violet);
}

.chat-window-component__users-chat-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "chat-window-component__chat-1"
    "chat-window-component__chat-2"
    "chat-window-component__images"
    "chat-window-component__chat-3"
    "chat-window-component__chat-4"
    "chat-window-component__chat-5"
    "chat-window-component__purchase-service-option-1"
    "chat-window-component__purchase-service-option-2";
  gap: 1.5rem;

  padding: 0 1.4rem;
}

.chat-window-component__chat-1,
.chat-window-component__chat-2,
.chat-window-component__chat-5 {
  font-size: 1rem;

  max-width: 58%;

  justify-self: start;

  padding: 0.8rem 1.5rem 0.8rem 1rem;

  color: var(--clr-primary-moderate-violet);
  background: var(--clr-primary-pale-violet);

  border-radius: 1.8rem;
  border-bottom-left-radius: 0.8rem;
}

.chat-window-component__chat-3,
.chat-window-component__chat-4 {
  font-size: 1rem;

  max-width: 58%;
  justify-self: end;

  padding: 0.8rem 1rem;

  border-radius: 1.8rem;
  border-bottom-right-radius: 0.8rem;

  color: var(--clr-primary-desaturated-dark-violet);
  background: var(--clr-secondary-white);
}

/*  */

.chat-window-component__images {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

.chat-window-component__image-1,
.chat-window-component__image-2,
.chat-window-component__image-3 {
  height: 4.6rem;

  margin-left: 1rem;

  border-radius: 1.2rem;
}

/*  */
.chat-window-component__purchase-service-option-1,
.chat-window-component__purchase-service-option-2 {
  display: flex;
  align-items: center;

  width: 70%;

  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );

  padding: 0.8rem 0;

  border-radius: 1.8rem;
  border-bottom-left-radius: 0.8rem;
}

.chat-window-component__purchase-service-option-1 > div,
.chat-window-component__purchase-service-option-2 > div {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid var(--clr-secondary-very-light-magenta);

  margin: 0 1rem;
}

.chat-window-component__purchase-service-option-1 > p:nth-child(2),
.chat-window-component__purchase-service-option-2 > p:nth-child(2) {
  font-size: 1rem;

  width: 50%;

  color: var(--clr-primary-pale-violet);
}

.chat-window-component__purchase-service-option-1 > p:nth-child(3),
.chat-window-component__purchase-service-option-2 > p:nth-child(3) {
  font-size: 1.8rem;
  font-weight: var(--fw-500);

  color: var(--clr-secondary-white);
}

/* */

.chat-window-component__new-message-input {
  display: flex;
  justify-self: center;

  width: 29rem;
  height: 4.6rem;

  background: white;

  border-radius: 4rem;

  margin-bottom: 1.4rem;
}

.chat-window-component__new-message-input > input {
  width: 85%;

  font-size: 1rem;

  border: 0;
  outline: 0;
  border-radius: 4rem;

  padding: 1.6rem 0 1.6rem 2rem;

  color: var(--clr-primary-grayish-blue);
}

.chat-window-component__new-message-input > figure {
  display: flex;
  justify-content: center;

  height: 3rem;
  width: 3rem;
  background: var(--clr-primary-grayish-blue);
  border-radius: 50%;

  margin-top: 0.7rem;
}

.chat-window-component__new-message-input > figure > img {
  width: 1.5rem;
}

/* style 2nd component - mobile */

.app-info-component {
  width: 34rem;

  display: grid;
  justify-items: center;
  gap: 3rem;

  z-index: 2;
}

.app-info-component__header {
  font-size: 4.6rem;
  font-weight: var(--fw-500);

  color: var(--clr-primary-very-dark-desaturated-violet);
}

.app-info-component__detailed-info {
  text-align: center;
  color: var(--clr-primary-dark-grayish-violet);

  font-size: 1.75rem;
}

/* ----------- ----------- ----------- desktop second approach ----------- ----------- ----------- */

@media screen and (min-width: 48rem) {
  body::after {
    /* content: "";
    display: block; */
    width: 35%;

    /* background: linear-gradient(
      to top,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
    );

    position: absolute; */

    left: -10%;
    top: -5%;

    height: 95%;

    border-bottom-right-radius: 26rem;
    border-bottom-left-radius: 26rem;
  }

  body::before {
    /* content: "";
    display: block; */
    width: 35%;

    /* background-color: var(--clr-primary-pale-violet);
    position: absolute; */

    right: -13.5%;
    bottom: -12%;

    height: 95%;

    border-top-right-radius: 26rem;
    border-top-left-radius: 26rem;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "chat-window-component app-info-component";

    padding: 0 30rem;
  }

  /*  desktop - component 1 styling  */

  .chat-window-component__users-chat-section {
    gap: 1rem;
  }

  .chat-window-component__purchase-service-option-1,
  .chat-window-component__purchase-service-option-2 {
    padding: 0.8rem 0;

    border-radius: 1.2rem;
    border-bottom-left-radius: 0.6rem;
  }

  .chat-window-component__purchase-service-option-1 > p:nth-child(3),
  .chat-window-component__purchase-service-option-2 > p:nth-child(3) {
    font-size: 1.5rem;

    padding-left: 1.2rem;
  }

  /*  desktop - component 2 styling  */

  .app-info-component {
    width: 50rem;

    align-content: center;
    justify-items: normal;
  }

  .app-info-component__detailed-info {
    text-align: start;
  }
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* Component 1 grid areas */

.chat-window-component {
  grid-area: chat-window-component;
}

.chat-window-component__user-profile {
  grid-area: chat-window-component__user-profile;
}

.chat-window-component__white-top {
  grid-area: chat-window-component__white-top;
}

.chat-window-component__user-profile-img {
  grid-area: chat-window-component__user-profile-img;
}

.chat-window-component__user-name {
  grid-area: chat-window-component__user-name;
}

.chat-window-component__user-status {
  grid-area: chat-window-component__user-status;
}

.chat-window-component__left-icon {
  grid-area: chat-window-component__left-icon;
}

.chat-window-component__right-icon {
  grid-area: chat-window-component__right-icon;
}

.chat-window-component__users-chat-section {
  grid-area: chat-window-component__users-chat-section;
}

.chat-window-component__chat-1 {
  grid-area: chat-window-component__chat-1;
}

.chat-window-component__chat-2 {
  grid-area: chat-window-component__chat-2;
}

.chat-window-component__images {
  grid-area: chat-window-component__images;
}

.chat-window-component__chat-3 {
  grid-area: chat-window-component__chat-3;
}

.chat-window-component__chat-4 {
  grid-area: chat-window-component__chat-4;
}

.chat-window-component__chat-5 {
  grid-area: chat-window-component__chat-5;
}

.chat-window-component__purchase-service-option-1 {
  grid-area: chat-window-component__purchase-service-option-1;
}

.chat-window-component__purchase-service-option-2 {
  grid-area: chat-window-component__purchase-service-option-2;
}

.chat-window-component__new-message-input {
  grid-area: chat-window-component__new-message-input;
}

/* Component 2 grid areas */

.app-info-component {
  grid-area: app-info-component;
}
